<div class="d-flex w-100 justify-content-between">
    <h5 class="mb-1">
        <%= task.description %>
    </h5>
</div>
<div class="btn-group" role="group" aria-label="Basic example" , style="padding-bottom: 18px">
    <%= button_to "Edit this task" , edit_category_task_path(@category, task), method: :get,class: 'btn btn-outline-primary' %>&nbsp;&nbsp;
    <%= button_to "Destroy this task" , category_task_path(@category, task), method: :delete, class: 'btn btn-outline-danger' %>
</div>