<div class="container-fluid">
  <div class="row">
    <!-- Tabs verticais -->
    <div class="col-md-1">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-tab1" data-toggle="pill" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">High Priority</a>
        <a class="nav-link" id="v-pills-tab2" data-toggle="pill" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Medium Priority</a>
        <a class="nav-link" id="v-pills-tab3" data-toggle="pill" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false">Low Priority</a>
      </div>
    </div>
    <!-- Conteúdo das tabs -->
    <div class="col-md-10">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="v-pills-tab1">
          <h2>Conteúdo da Tab 1</h2>
          <p>Texto da Tab 1...</p>
        </div>
        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="v-pills-tab2">
          <h2>Conteúdo da Tab 2</h2>
          <p>Texto da Tab 2...</p>
        </div>
        <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="v-pills-tab3">
          <h2>Conteúdo da Tab 3</h2>
          <p>Texto da Tab 3...</p>
        </div>
      </div>
    </div>
  </div>
</div>