<center>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div id="tasks">
      <% @tasks.each do |task| %>
        <%= render task %>
      <% end %>
    </div>
  </div>
</center>

<%= button_to "New task", new_category_task_path(@category), method: :get, class: 'btn btn-primary' %>