<p style="color: green"><%= notice %></p>

<center>
  <%= render @task %>
  <div class="btn-group" role="group">
    <%= button_to "Back to tasks", tasks_path, method: :get, class: 'btn btn-primary' %>&nbsp;&nbsp;
  </div>
</center>