<center>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div id="categories">
      <% @categories.each do |category| %>
        <%= render category %>
      <% end %>
    </div>
  </div>
</center>

<br>

<%= button_to "New category", new_category_path, method: :get, class: 'btn btn-primary' %>